<% layout('layouts/boilerplate') %>

<div class="container">
  <form action="/login/log_kafic" method="POST" class="needs-validation" novalidate>
    <h1>Uloguj se kao kafic</h1>

    <!-- Email -->
    <div class="form-group">
      <label for="kafic_email">E-mail</label>
      <input type="email" class="form-control" id="kafic_email" name="kafic_email" required>
    </div>
      
    <!-- Sifra -->
    <div class="form-group">
        <label for="kafic_sifra">Sifra</label>
        <input type="password" class="form-control" id="kafic_sifra" name="kafic_sifra" required>
    </div>

    <!-- Dugme -->
    <button type="submit" class="btn btn-primary">Uloguj se</button>
  
  </form>
</div>