<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Login Pocetna</h1>

    <button type="button" class="btn btn-outline-primary">
        <a href="/login/log_kafic" style="text-decoration: none; color: black;">Uloguj se kao kafic</a>
    </button>
    <button type="button" class="btn btn-outline-danger">
        <a href="/login/log_korisnik" style="text-decoration: none; color: black;">Uloguj se kao korisnik</a>
    </button>
</div>

<!-- 
    Ovde se biraju 2 opcije da li se ulogujes kao korisnik ili kao kafic 
-->