<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Pocetna strana</h1>
</div>

<!-- 
    Stranica koja govori o aplikaciji i timu koji je napravio 
    Sluzi da samo redirektruje dalje na registraciju, login ili kafice 
 -->