<% layout('layouts/boilerplate') %>

<!-- Header -->
<header class="header">
  <div class="text-box">
    <h1>Svi<br /><span>UGOSTITELJSKI OBJEKTI</span><br />na jesnom mestu</h1>
  </div>
</header>
<!-- End Header -->

<!-- 
    Stranica koja govori o aplikaciji i timu koji je napravio 
    Sluzi da samo redirektruje dalje na registraciju, login ili kafice 
 -->
