<% layout('layouts/boilerplate') %>

<!-- Main -->
<main class="selection">
  <div class="container login-container">
    <div class="row">
      <div class="col-md-6 login-form-1">
        <h2>Registracija kafica</h2>
        <button type="button" class="btnSubmit">
          <a href="/registracija/reg_kafic">Registracija</a>
        </button>
      </div>
      <div class="col-md-6 login-form-2">
        <h2>Registracija korisnika</h2>
        <button type="button" class="btnSubmit">
          <a href="/registracija/reg_korisnik">Registracija</a>
        </button>
      </div>
    </div>
  </div>
</main>
<!-- End Main -->
<!-- 
    Ovde se biraju 2 opcije da li se registrujes kao korisnik ili kao kafic 
-->
