<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Registracija Pocetna</h1>

    <button type="button" class="btn btn-outline-primary">
        <a href="/registracija/reg_kafic" style="text-decoration: none; color: black;">Registracija kafica</a>
    </button>
    <button type="button" class="btn btn-outline-danger">
        <a href="/registracija/reg_korisnik" style="text-decoration: none; color: black;">Registracija korisnika</a>
    </button>
</div>

<!-- 
    Ovde se biraju 2 opcije da li se registrujes kao korisnik ili kao kafic 
-->